.card{
  position:absolute;
  width:25% !important;
  left: 40%;
  top: 60%;
  transform: translateX(-50%);
  transform: translateY(70%);
}
.container-fluid{
  position: relative;
  height: 100%;
}
button{
  margin-top: 30px !important;
}
.card-title{
  text-align: center;
}
footer{
  bottom: 0;
  right: 0;
  position: absolute;
}
.card-category{
  font-size: 10px;
}