{% extends 'customer/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{% url 'home' %}">Trang chủ</a>
            <a class="breadcrumb-item" href="{% url 'cart' %}">Giỏ hàng</a>
            <span class="breadcrumb-item active">Thanh toán</span>
        </div>
    </div>
    <div class="container">
        <a class="btn btn-outline-dark mb-3" href="{% url 'cart' %}">&#8592; Giỏ hàng</a>
        <div class="col-lg-12">
            <div class="card card-body mb-3" id="form-wrapper">
                <form id="checkout-form"> {% csrf_token %}
                    <div id="shipping-info">
                        <h5>Địa chỉ giao hàng</h5>
                        <hr>
                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Địa chỉ.." value="{{request.user.customer.address}}" {% if shipping %} required {% endif %}>
                        </div>
                        <br>
                    </div>
                    <div id="payment-info">
                        <h5>Phương thức thanh toán</h5>
                        <hr>
                        <label>
                            <input type="radio" name="payment-option" value="transfer" checked> Chuyển khoản ngân hàng
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="payment-option" value="card"> Thanh toán bằng thẻ liên kết
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="payment-option" value="momo">
                            <img src="{% static 'images/momo-mark.png' %}" alt="Pay with momo">
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="payment-option" value="zalopay">
                            <img src="{% static 'images/zalo-mark.png' %}" alt="Pay with zalo">
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="payment-option" value="paypal">
                            <img src="{% static 'images/paypal-mark.jpg' %}" alt="Pay with Paypal">
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="payment-option" value="other">
                            <img src="{% static 'images/card-mark.png' %}" alt="Accepting Visa, Mastercard, Discover and American Express">
                        </label>
                        <!-- <div id="paypal-button-container"></div> -->
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card card-body">
                <p class="cart-total-page">
                    <span class="cart-total-text font-weight-bold">Tổng cộng</span>
                    <span class="cart-total-price cart-final-price">{{ total | floatformat | intcomma:False }} đ</span>
                </p>
                <!-- <div id="paypal-button-container"></div>  -->
                <button class="btn-custom yellow mt-3" id="btn-payment">Thanh toán</button>
            </div>
        </div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=AQesHAyaMsDMnFSIN2N43njgWET0oUc1XB2y-xrP4Bw2ZOGttxwtMVPftmR4Ax-RhVz_zc9ggdjT_k9n&currency=USD"></script>

    <script>
        // var total = '{{ total }}'

        // // Render the PayPal button into #paypal-button-container
        // paypal.Buttons({

        //     style: {
        //         color:  'blue',
        //         shape:  'rect',
        //         label:  'pay',
        //         height: 40
        //     },

        //     // Set up the transaction
        //     createOrder: function(data, actions) {
        //         return actions.order.create({
        //             purchase_units: [{
        //                 amount: {
        //                     value: parseFloat(total).toFixed(2)
        //                 }
        //             }]
        //         });
        //     },

        //     // Finalize the transaction
        //     onApprove: function(data, actions) {
        //         return actions.order.capture().then(function(details) {
        //             // Show a success message to the buyer
        //             alert('Transaction completed by ' + details.payer.name.given_name + '!');
        //         });
        //     }


        // }).render('#paypal-button-container');
    </script>
    <script type="text/javascript">
        var shipping = '{{ shipping }}'
        var total = '{{ total }}'
        console.log(total)
        if (shipping == "False") {
            document.getElementById('shipping-info').innerHTML = ""
        }

        document.getElementById("btn-payment").addEventListener('click', function(e) {
            makePayment()
        })

        function makePayment() {
            var form = document.getElementById("checkout-form")

            var checkout_form = {
                'address': "",
                'option': form["payment-option"].value,
                'total': total,
                'shipping': shipping
            }

            if (shipping == "True") {
                checkout_form['address'] = form['address'].value
            }

            url = '/process-order/'

            fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': "application/json",
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'form': checkout_form})
            })

            .then((response) => response.json())
            .then((data) => {
                console.log("Success: ", data)
                alert("Thanh toán thành công")
                window.location.href = "{% url 'home' %}"
            })
        }

    </script>
{% endblock %}