{% extends 'customer/main.html' %}
{% load static %}
{% load l10n %}
{% load humanize %}

{% block content %}
	<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{% url 'home' %}">Trang chủ</a>
            <a class="breadcrumb-item" href="{% url 'author' %}">Tác giả</a>
            <span class="breadcrumb-item active">{{ author.name }}</span>
        </div>
    </div>

	<div class="container">
		<div class="col-12">
			<div class="row ml-2">{{ object_count }} sách</div>
			<hr>
			<div class="row">	
				{% for book in page_obj %}
					<div class="col-lg-2 col-md-3 col-sm-4 col-6 book-item">
						<a href="{% url 'book_detail' book.ISBN %}">
							<div class="img-fluid book-img-container">
								<img class="book-img" src="{% if book.image_url != '' %} 
									{{ book.image_url }} 
								{% else %} 
									{% static 'images/default_book.png' %} 
								{% endif %}" alt="img">
							</div>
		                    
		                    <p class="book-title">{{ book.name | truncatechars:20 }}</p>
		                    <p class="book-author">{{ book.author_list | truncatechars:20 }}</p>
		                    <p class="book-price">{{ book.price | floatformat | intcomma:False }} đ</p>
	                	</a>
	                </div>
				{% endfor %}
			</div>
			{% if page_obj.paginator.num_pages > 1 %}
			<ul class="pagination justify-content-center mt-3 mb-3">
		        {% if page_obj.has_previous %}
		            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
		            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
		        {% endif %}

		        <li class="page-item page-link">{{ page_obj.number }}</li>

		        {% if page_obj.has_next %}
		            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
		            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
		        {% endif %}
			</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}