{% extends 'customer/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
	<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{% url 'home' %}">Trang chủ</a>
            <span class="breadcrumb-item active">Cài đặt</span>
        </div>
    </div>

    <div class="container">
    	<div class="row">
    		<div class="col-md-3 col-12">
                {% include 'customer/setting_nav.html' %}
            </div>
            <div class="col-md-9 col-12 card card-body">
				<h5>Liên kết thẻ ngân hàng</h5>
				<hr>
				<form action="" method="POST"> {% csrf_token %}
	    			{{ form.as_p }}
	    			<input class="btn btn-info mt-3" type="submit" value="Lưu">
	    		</form>
			</div>
		</div>
    </div>
{% endblock %}