{% extends 'customer/main.html' %}
{% load static %}
{% load humanize %}

{% block content %}
	<div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="{% url 'home' %}">Trang chủ</a>
            <span class="breadcrumb-item active">Cài đặt</span>
        </div>
    </div>

    <div class="container">
    	<div class="row">
    		<div class="col-md-3 col-12">
    			{% include 'customer/setting_nav.html' %}
    		</div>
	    	<div class="col-md-9 col-12 card card-body table-responsive">
				<h5>Liên kết thẻ ngân hàng</h5>
				<hr>
		    	{% if page_obj.count > 0 %}
		    	<table class="table table-striped table-hover mt-3">
					<thead class="thead-dark">
					  <tr>
					    <th>Mã thẻ</th>
					    <th>Ngày hết hạn</th>
					    <th>Ngân hàng</th>
					    <th>Chi nhánh</th>
					    <th>Thao tác</th>
					  </tr>
					</thead>
					<tbody>
						{% for card in page_obj %}
					  	<tr>
						    <td>{{ card.code_mask }}</td>
						    <td>{{ card.expireDate|date:"d/m/Y" }}</td>
						    <td>{{ card.bank }}</td>
						    <td>{{ card.branch }}</td>
						    <td>
						    	<a href="{% url 'card-update' card.id %}" class="btn btn-primary"><i class="fa fa-pencil"></i> </a>
						    	<a href="{% url 'card-delete' card.id %}" class="btn btn-danger ml-2"><i class="fa fa-trash"></i></a>
						    </td>
					  	</tr>
					  	{% endfor %}
					</tbody>
				</table>
				{% else %}
				<h6>Chưa có thẻ liên kết</h6>
				{% endif %}
				<a href="{% url 'card-insert' %}"><button class="btn btn-success mt-3">Thêm thẻ mới</button></a>
			</div>
		</div>
    </div>
{% endblock %}