{% extends 'customer/main.html' %} {% load static %} {% load humanize %} {% block content %}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="{% url 'home' %}">Trang chủ</a>
        <a class="breadcrumb-item" href="{% url 'cart' %}">Giỏ hàng</a>
        <span class="breadcrumb-item active">Thanh toán</span>
    </div>
</div>
<div class="container">
    <a class="btn btn-outline-dark mb-3" href="{% url 'cart' %}">&#8592; Giỏ hàng</a>
    <div class="col-lg-12">
        <div class="card card-body mb-3" id="form-wrapper">
            <form id="checkout-form"> {% csrf_token %}
                <div id="shipping-info">
                    <h5>Địa chỉ giao hàng</h5>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Địa chỉ.." value="{{request.user.customer.address}}" {% if shipping %} required {% endif %}>
                    </div>
                    <br>
                </div>
                <div id="payment-info">
                    <h5>Phương thức thanh toán</h5>
                    <hr>
                    <label>
                        <input type="radio" name="payment-option" value="transfer" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" checked> Chuyển khoản ngân hàng
                            <div class="panel panel-default">
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p> Quý khách có thể chuyển tiền vào một trong những tài khoản sau </p>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover mt-3">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Tên chủ thẻ</th>
                                                        <th>Ngân hàng</th>
                                                        <th>Chi nhánh</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Nguyễn Văn A</td>
                                                        <td>OCB</td>
                                                        <td>1234567891011</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nguyễn Văn A</td>
                                                        <td>ACB</td>
                                                        <td>1234567891011</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Nguyễn Văn A</td>
                                                        <td>Đông Á</td>
                                                        <td>1234567891011</td>
                                                    </tr>
        
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>                    
                        </label>
                    <br>
                    <label>
                            <input type="radio" name="payment-option" value="card" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Thanh toán bằng thẻ liên kết
                            <div class="panel panel-default">
                                <div id="collapseTwo" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p> Chọn thẻ liên kết </p>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover mt-3">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th></th>
                                                        <th>Ngân hàng</th>
                                                        <th>Mã thẻ</th>
                                                        <th>Chi nhánh</th>
                                                    </tr>
                                                </thead>
                                                
                                                <tbody>
                                                    <div id="linked-card">
                                                        {% for card in cards %}
                                                        <tr>
                                                            <td><input type="radio" name="card-option" value="{{card.id}}"></td>  
                                                            <td>{{card.bank}}</td>
                                                            <td> {{card.code}}</td>
                                                            <td> {{card.branch}}</td>
                                                            {% empty %}
                                                                <td> Quý khách chưa có thẻ liên kết. Click vào <a href="/card/insert">đây </a> để thêm thẻ.</td>
                                                            {% endfor %}
                                                        </tr>                                                       
                                                    </div>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </label>
                    <br>
                    <label>
                            <input type="radio" name="payment-option" value="momo" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <img src="{% static 'images/momo-mark.png' %}" alt="Pay with momo">
                            <div class="panel panel-default">
                                <div id="collapseThree" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p> Mở ứng dụng Momo và scan mã QR dưới đây</p>
                                        <div id="qrcode">
                                            <img src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;" alt="" title="momo" />
                                        </div>
                                       
 
                                    </div>
                                </div>
                            </div>
                        </label>
                    <br>
                    <label>
                            <input type="radio" name="payment-option" value="zalopay" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            <img src="{% static 'images/zalo-mark.png' %}" alt="Pay with zalo">
                        </label>
                    <br>
                    <label>
                            <input type="radio" name="payment-option" value="paypal" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            <img src="{% static 'images/paypal-mark.jpg' %}" alt="Pay with Paypal">
                        </label>
                    <br>
                    <label>
                            <input type="radio" name="payment-option" value="other">
                            <img src="{% static 'images/card-mark.png' %}" alt="Accepting Visa, Mastercard, Discover and American Express">
                        </label>
                    <!-- <div id="paypal-button-container"></div> -->
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card card-body">
            <p class="cart-total-page">
                <span class="cart-total-text font-weight-bold">Tổng cộng</span>
                <span class="cart-total-price cart-final-price">{{ total | floatformat | intcomma:False }} đ</span>
            </p>
            <!-- <div id="paypal-button-container"></div>  -->
            <button class="btn-custom yellow mt-3" id="btn-payment">Thanh toán</button>
        </div>
    </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AQesHAyaMsDMnFSIN2N43njgWET0oUc1XB2y-xrP4Bw2ZOGttxwtMVPftmR4Ax-RhVz_zc9ggdjT_k9n&currency=USD"></script>

<script>
    // var total = '{{ total }}'

    // // Render the PayPal button into #paypal-button-container
    // paypal.Buttons({

    //     style: {
    //         color:  'blue',
    //         shape:  'rect',
    //         label:  'pay',
    //         height: 40
    //     },

    //     // Set up the transaction
    //     createOrder: function(data, actions) {
    //         return actions.order.create({
    //             purchase_units: [{
    //                 amount: {
    //                     value: parseFloat(total).toFixed(2)
    //                 }
    //             }]
    //         });
    //     },

    //     // Finalize the transaction
    //     onApprove: function(data, actions) {
    //         return actions.order.capture().then(function(details) {
    //             // Show a success message to the buyer
    //             alert('Transaction completed by ' + details.payer.name.given_name + '!');
    //         });
    //     }


    // }).render('#paypal-button-container');
</script>
<script type="text/javascript">
    var shipping = '{{ shipping }}'
    var total = '{{ total }}'
    console.log(total)
    if (shipping == "False") {
        document.getElementById('shipping-info').innerHTML = ""
    }

    document.getElementById("btn-payment").addEventListener('click', makePayment)
    var cards = document.getElementsByName("card-option")

    function makePayment() {
        var form = document.getElementById("checkout-form")

        var checkout_form = {
            'address': "",
            'option': form["payment-option"].value,
            'total': total,
            'shipping': shipping
        }
        console.log(checkout_form["option"])

        if (shipping == "True") {
            checkout_form['address'] = form['address'].value
        }
        if (checkout_form["option"] == "card") {

            if (cards.length > 0) {
                checkout_form["cardId"] = form['card-option'].value
                console.log(checkout_form["cardId"])
            } else {
                alert("Vui lòng thêm thẻ liên kết hoặc chọn hình thức thanh toán khác.")
                window.location.reload()
            }
        }

        var url = "/process-order/"

        fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify({
                    "form": checkout_form
                })
            })
            .then((response) => response.json())
            .then((data) => {
                data = data.mess
                alert(data)
                if (data != "Payment was completed") {
                    window.location.reload()
                } else {
                    window.location.href = "/"
                }
            })
    }
</script>
{% endblock %}