{% extends 'customer/main.html' %} {% load static %} {% load l10n %} {% load humanize %} {% load tag %} {% block content %}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="{% url 'home' %}">Trang chủ</a>
        <span class="breadcrumb-item active">Sách</span>
        <span class="breadcrumb-item active">Đánh giá</span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <h3 class="mb-3">{{ object.name }}</h3>
                <input type="hidden" id="bookId" value="{{object.ISBN}}">
                <div class="mb-3">
                    <span><i class="fa fa-star star-checked"></i></span>
                    <span><i class="fa fa-star star-checked"></i></span>
                    <span><i class="fa fa-star star-checked"></i></span>
                    <span><i class="fa fa-star star-checked"></i></span>
                    <span><i class="fa fa-star-o star-checked"></i></span>
                    <span>({{object.total_rating}} đánh giá)</span>
                </div>
            </div>
            <div class="row">
                {% with book_image=object.book_image_set.all %} {% if book_image %}
                <div id="bookCarousel" class="carousel carousel-fade carousel-thumbnails">
                    <!-- main slider carousel items -->
                    <div class="carousel-inner">
                        {% for image in boggok_image %}
                        <div class="{% if forloop.counter0 == 0 %} active {% endif %} carousel-item detail-img-container" data-slide-number="{{ forloop.counter0 }}">
                            <img src="{{image.image_url}}" class="book-img">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div style="text-align: center;">
                    <img src="{% static 'images/default_book.png' %}" class="book-img">
                </div>
                {% endif %} {% endwith %}
            </div>
        </div>
        <div class="col-2">

        </div>
        <div class="col-6">
            <h2> ĐÁNH GIÁ</h2>
            <hr>
            <form action="/review/" method="POST" id="rating-form">
                <label for="story">Đánh giá của bạn: </label>
                <div class="text-center">
                    <div class="rating">
                        <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                        <label for="star5">☆</label>
                        <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                        <label for="star4">☆</label>
                        <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                        <label for="star3">☆</label>
                        <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                        <label for="star2">☆</label>
                        <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                        <label for="star1">☆</label>
                        <div class="clear"></div>
                    </div>
                </div>
                <hr>
                <label for="story">Viết nhận xét của bạn vào ô bên dưới.</label>
                <br>
                <textarea name="cmt-area" class="col-12" style="height: 127px;font-family: 'Montserrat';font-size: small;">
                    Nhận xét của bạn ở đây này ...
                </textarea>
            </form>
            <hr>
            <button name="review-btn" type="submit" class="btn-custom">Gửi nhận xét</button>
        </div>
    </div>






</div>
<br>
<div class="container">

</div>
<link rel="stylesheet" href="{% static 'css/order.css' %}">

<script>
    var stars = document.getElementsByName("star")
    var rating = 1
    for (let i = 0; i < stars.length; i++) {
        stars[i].addEventListener("click", function() {
            rating = stars[i].getAttribute("value")
        })
    }
    var submit_btn = document.getElementsByName("review-btn")
    submit_btn[0].addEventListener("click", function() {
        console.log("Create review is working")

        var url = "/addReview/"
        var cmt = document.getElementsByName("cmt-area")
        var bookId = document.getElementById("bookId")

        fetch(url, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'rating': rating,
                    'cmt': cmt[0].value,
                    'bookId': bookId.value
                })
            })
            .then((response) => response.json())
            .then((data) => {
                alert(data)
                window.location.replace("/");
            })

    })
</script>
{% endblock %}