{% load active_link_tags %}
<nav class="navbar navbar-light bg-light" >
    <div class="navbar-brand text-center">
        {% with customer=request.user.customer %}
        <img class="rounded-circle profile-pic" src="{{ customer.profile_url }}" alt="@{{ customer.name }}">
        <p class="mt-2">{{ customer.name }}</p>
        {% endwith %}
    </div>
    <!-- Links -->
    <ul class="navbar-nav w-100">
        <li class="nav-item {% active_link 'profile' 'active' %}">
            <a class="nav-link" href="{% url 'profile' %}">Thông tin tài khoản</a>
        </li>
        <li class="nav-item {% active_link 'card-list' 'active' %}">
            <a class="nav-link" href="{% url 'card-list' %}">Liên kết thẻ ngân hàng</a>
        </li>
        <li class="nav-item {% active_link 'change-password' 'active' %}">
            <a class="nav-link" href="{% url 'change-password' %}">Đổi mật khẩu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Cài đặt</a>
        </li>
    </ul>

</nav>